* {
  margin: 0;
  padding: 0;
}

.header {
  width: 90%;
  padding: 0 5%;
  height: 70px;
  background-color: #311b92;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.logo {
  width: 6%;
  min-width: 60px;
  height: 70px;
  min-width: 50px;
}
.logo img {
  height: 100%;
  width: 100%;
}
.listtoggle {
  all: unset;
  display: none;
  background-color: #311b92;
  width: 30px;
  height: 30px;
}

@media (min-width: 768px) and (max-width: 1118px) {
  .logo {
    position: absolute;
    left: 0;
    top: 0;
  }
}
@media (max-width: 768px) {
  .logo {
    position: absolute;
    left: calc(50% - 3%);
    top: 0;
  }
  .listtoggle {
    display: block;
  }
  .header {
    width: 90%;
    padding: 0 5%;
  }
}
