* {
  margin: 0;
  padding: 0;
}
body,
html {
  min-width: 675px;
}
.container {
  margin-bottom: 20px;
  height: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slider {
  cursor: pointer;
  display: grid;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
}
.slides {
  height: 100%;
  overflow: hidden;
}
.slides img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.products {
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
.search {
  background-color: red;
  grid-column: 1 / span 2;
  height: 50px;
}
section {
  height: 250px;
  cursor: pointer;
}

.product {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  margin: 0 10%;
  overflow: hidden;
  transition: all 400ms ease-in-out;
  background-color: #673ab7;
  border-radius: 20px;
}
.product:hover {
  transform: scale(1.2);
}

.img {
  width: 30%;
  height: 100%;
  background-color: black;
  object-fit: fill;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.link {
  all: unset;
  width: 85%;
  height: 100%;
  display: flex;
  align-items: center;
}
.product_info {
  width: 55%;
  height: 90%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.product_info div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.like_add {
  width: 15%;
  height: 90%;
  margin: 5% 0;
  display: flex;
  align-items: self-end;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.like {
  font-size: 20px;
  margin-right: 10%;
}

.add {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 30px;
}

.add div {
  position: relative;
}

.nproducts {
  position: absolute;
  padding: 2px;
  background-color: black;
  border-radius: 50%;
  color: white;
  font-size: 15px;
  bottom: 0px;
  left: 25px;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.add_delete {
  font-size: 25px;
  color: white;
  margin-top: 5%;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.pages {
  grid-column: 1 / span 2;
  display: flex;
  width: 90%;
  margin: 0 5%;
  justify-content: center;
}
.page {
  all: unset;
  cursor: pointer;
  background-color: #311b92;
  color: white;
  border-radius: 50%;
  padding: 10px;
  margin: 0 10px;
  text-align: center;
}

.page[disabled] {
  background-color: #311b925f;
  cursor: not-allowed;
}
@media (max-width: 1085px) {
  .products {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search {
    width: 100%;
  }
  section {
    width: 80%;
    height: 300px;
  }
  .product:hover {
    transform: none;
  }
}
@media (max-width: 768px) {
  .container {
    height: 250px;
  }
  section {
    height: 200px;
  }
}
